@*@using Microsoft.AspNetCore.Identity; moved to _ViewImports*@
@inject UserManager<ApplicationUser> userManager;
@if (!User.Identity.IsAuthenticated)
{
    @*Login button*@
    <a asp-controller="Account" asp-action="Login" class="btn btn-outline-success my-2 my-sm-0">
        <i class="bi bi-box-arrow-in-right"></i> Log in
    </a>
    <span style="padding: 5px"></span>
    @*Register button*@
    <a asp-controller="Account" asp-action="Register" class="btn btn-outline-primary my-2 my-sm-0">
        <i class="bi bi-person-plus"></i> Register
    </a>
}
else
{
    @*User profile section*@
    <div class="dropdown">
        <button id="dropdown-menu" data-toggle="dropdown" aria-expanded="false" type="button" class="btn btn-outline-success dropdown-toggle">
            <i class="bi bi-person-badge"></i> Hello @userManager.GetUserName(User)
        </button>
        <ul aria-labelledby="profile-btn" class="dropdown-menu">
            <li>
                <a asp-controller="Orders" asp-action="Index" class="dropdown-item">
                    <i class="bi bi-list"></i> Orders
                </a>
            </li>
        </ul>
    </div>
    <span style="padding: 5px"></span>
    @*Logout button*@
    <form asp-controller="Account" asp-action="Logout" method="post">
        <button class="btn btn-outline-danger my-2 my-sm-0">
            <i class="bi bi-box-arrow-in-right"></i> Log out
        </button>
    </form>
}

